*{
  padding: 0;
  margin: 0;
}

.Container{
  display: flex;
}
.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 40vw;
}
.Image{
  height:100vh;
  width:60vw;
}